.produitCard {
    width: 300px;
    height: 450px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 5px;
}

.produitCard .containerImageProduit {
    width: 100%;
    height: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.07);
    position: relative;
}

.produitCard .containerImageProduit .imgBg {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
    opacity: 0.5;
}

.produitCard .containerBottom {
    height: 50%;
    overflow: hidden;
    position: relative;
}

.produitCard .containerBottom .title {
    padding: 10px 0;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.containerBottom .title h3 {
    color: #333;
    font-weight: 400;
}

.containerBottom .title h4 {
    color: #333;
    font-weight: 300;
    max-width: 75%;
}

.containerBottom .title .prix {
    display: flex;
    align-items: center;
    min-width: 25%;
    padding-left: 5px;
}

.containerBottom .title .prix span {
    color: #555;
    font-weight: 200;
    font-size: small;
}

.containerBottom .containerCenter{
    height: 55%;
    overflow: hidden;
    position: relative;
    border-top: 1.5px dashed #333;
}

.containerBottom .containerFeatures {
    width: 100%;
    padding: 5px 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 300;
}

.containerBottom  .ndr2{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    font-weight: 200;
    line-height: 1.5;
}

.containerBottom  .ndr4{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    font-weight: 200;
    line-height: 1.5;
}

.containerBottom  .ndr6{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    font-weight: 200;
    line-height: 1.5;
}


.containerBottom .containerFeatures .features {
    display: flex;
    min-height: 35.66px;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.containerFeatures .features .valueFeatures,
.containerFeatures .features .titleFeatures {
    min-width: 25%;
    max-width: 75%;
}

.features .titleFeatures h4 {
    color: #444;
}

.containerFeatures .features .valueFeatures {
    display: flex;
    flex: 1;
    justify-content: end;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.produitCard .valueFeatures label {
    margin-right: 10px;
    padding-left: 20px;
    display: inline-block;
    color: #333;
    position: relative;
    font-weight: 200;
}

.produitCard input[type="checkbox"] {
    margin-right: 5px;
    cursor: pointer;
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.produitCard .checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 15%;
    border: 1px solid rgba(0, 0, 0, 0.7);
}

.produitCard input:checked ~ .checkmark{
    background-color: #2196F3;
    border: none;
}

.produitCard .checkmark::after{
    content: "";
    position: absolute;
    display: none;
}

.produitCard input:checked~ .checkmark::after{
    display: block;
}

.produitCard .checkmark::after{
    left: 4px;
    top: -0.5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2.5px 2.5px 0;
    transform: rotate(45deg);
}

.produitCard input:disabled ~ .checkmark{
    background-color: #ddd;
    border: none;
    cursor: auto;
}

.produitCard input[type="checkbox"]:disabled {
    cursor: auto;
}

.containerBottom .buttonContenaire {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
}

.containerBottom .buttonContenaire button {
    padding: 1rem;
    color: #fff;
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.containerBottom .buttonContenaire button:hover{
    box-shadow: 0 1px 0  rgba(0, 0, 0, 0.2);
}

.containerBottom .buttonContenaire button:disabled{
    background-color: var(--light-primary);
    color: #555;
}